body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

header {
    background: #0077b6;
    color: white;
    text-align: center;
    padding: 30px;
}

.destinos {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 30px;
}

.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    text-align: center;
}

button {
    background: #0096c7;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #023e8a;
}

footer {
    text-align: center;
    padding: 15px;
    background: #0077b6;
    color: white;
}